.header {
  display: grid;
  text-align: center;
  margin-top: 92px;
  margin-left: 26px;
  margin-right: 26px;
  width: 1052px;
  flex-shrink: 0;
  grid-template-columns: 1fr min-content 1fr;
}

.nav-header {
  display: flex;
  margin-top: 55px;
  margin-left: 10px;
  list-style: none;
}

.header-link {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400px;
  line-height: normal;
  letter-spacing: 0.18px;
  margin-left: 1px;
  padding-right: 25px;
}

.header-link-active {
text-decoration: none;
}

.header-list-item {
  margin-left: 16px;
  list-style-type: circle;
}

.logo-header {
  text-align: center;
  margin-left: 5px;
  margin-top: 11px;
  width: 136px;
  height: 105px;
  flex-shrink: 0;
}

.info {
  width: 240.52px;
  flex-shrink: 0;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  /* 135% */
  letter-spacing: 0.35px;
  justify-self: end;
  margin-top: 16px;
  margin-right: 25px;
  display: flex;
  text-align: left;
  display: block;
}

.cover-title {
  padding-top: 180px;
  z-index: 3;
}

.flowers {
  width: 1100px;
  min-height: 757px;
  flex-shrink: 0;
  background: url("../images/lotus-flower.jpg");
  display: flex;
  z-index: 0;
  margin-top: 96px;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  width: 1100px;
  height: 100%;
  flex-shrink: 0;
  z-index: -1;
}

.overlay-card {
  background: #000;
  opacity: 0.6;
  width: 334px;
  height: 563px;
  flex-shrink: 0;
  z-index: 0;
  position: absolute;
}

.text-align-left {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
  margin-left: 50px;
}

.letter-spacing-extended-left {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 60px;
  text-transform: uppercase;
}

.letter-spacing-extended-center {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 60px;
  text-transform: uppercase;
}

.letter-spacing-extended-right {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing:30px;
  text-transform: uppercase;
}

.text-align-center {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
  margin-left: 336px;
}

.text-align-right {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 60px;
  text-transform: uppercase;
  margin-left: 633px;
}

.text-thing {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 400;
  /* 127.273% */
  text-transform: uppercase;
  font-size: 22px;
  word-spacing: 20px;
  letter-spacing: -0.2px;
}

.text-flower {
  margin-top: 130px;
  margin-left: 78px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.go-bet {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  margin-bottom: 62px;
  margin-right: 50px;
  flex-shrink: 0;
  color: #ffffff;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  border: 1px solid currentColor;
  padding: 12px 32px 11px 31px;
  margin-bottom: 51px;
}

.lots-main {
  margin-left: 24px;
  column-count: 3;
  width: 1052px;
  flex-shrink: 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  z-index: 0;
}

.loto-log {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 180px;
  margin-left: 64px;
}

.card-main {
  width: 334px;
  height: 563px;
}

.image-card-main {
  background: url("../images/card-lot-01.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.nav-card {
  display: flex;
  z-index: 3;
}

.head {
  display: flex;
  flex-shrink: 0;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
  padding-left: 40px;
  padding-top: 51px;
  z-index: 3;
  position: relative;
}

.card-link {
  text-decoration: none;
}

.card-body {
  display: flex;
  padding-left: 40px;
  padding-top: 238px;
  padding-right: 40px;
  padding-bottom: 48px;
  z-index: 3;
}

.card-info {
  width: 254px;
  flex-shrink: 0;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 24px */
  z-index: 3;
}

.see-more {
  margin-left: 64px;
  margin-top: 25px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}

.image-card {
  background: url("../images/card-lot-02.jpg"),
lightgray -102px -119.083px / 161.078% 142.303% no-repeat;
background-size: cover;
background-position: center;
z-index: 0;
}

.book-body {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
  display: flex;
  z-index: 3;
}

.picture-body {
  display: flex;
  width: 254px;
  padding-left: 40px;
  margin-top: 90px;
  padding-right: 40px;
  padding-bottom: 48px;
  z-index: 3;
}

.picture-style {
  font-size: 20px;
}

.picture-style_one-is {
  z-index: 3;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.image_card {
  background: url("../images/card-lot-03.jpg"), lightgray 50% / cover no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.about {
  flex-shrink: 0;
  margin-top: 181px;
}

.text-main {
  margin-left: 25px;
}

.logo-about {
  display: flex;
  margin-left: 71px;
  margin-top: 35px;
  position: relative;
}

.logo-body {
  background: url("../images/Ellipse/10.jpg");
  border-radius: 50%;
  width: 240px;
  height: 240px;
  background: rgba(0, 0, 0, 1);
  display: grid;
  position: relative;
}

.white-logo {
  width: 148px;
  height: 114px;
  top: 64px;
  left: 46.48px;
  position: absolute;
  color: rgb(246, 246, 246);
  display: flex;
}

.about-column {
  display: inline-flex;
  padding-top: 0px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-bottom: 13px;
  margin-left: 359px;
}

.about-main {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 100px;
  margin-top: 100px;
  margin-left: 72px;
}

.text-about {
  margin-right: 20px;
}

.text-there {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 120% */
  letter-spacing: 0.2px;
}

.text-luxe_there {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.text-lots_there {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.text-need_there {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.text-girl_there {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.text-about_hard {
  padding-top: 24px;
  margin-left: 24px;
  margin-right: 20px;
}

.text-very_hard {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 120% */
}

.text-hard_easy {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.6px;
  margin-right: 20px;
}

.text-hard_now-lots {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.footer {
  margin-top: 170px;
  display: flex;
}

.main-footer {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 88px;
  align-items: flex-start;
}

.information {
  width: 240.52px;
  flex-shrink: 0;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  /* 135% */
  letter-spacing: 0.35px;
  margin-left: 50px;
  text-align: left;
  display: block;
}
.number {
  text-decoration: underline;
}

.street {
  text-decoration: none;
}
.nav-footer {
  display: flex;
  flex-flow: column;
  text-align: center;
  width: 149px;
  height: 64px;
  border: 1px;
  line-height: 22px;
}

.navi-footer {
  color: #000;
  font-size: 18px;
}

.navi-footer:hover {
  color: brown;
}

.social-footer {
  margin-right: 50px;
  display: inline-flex;
  align-items: flex-start;
  gap: 48px;
}

.social-logo {
  width: 48px;
  height: 48px;
}

